Repository globus/globus-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-changelog, reject-paginator-table-usage

.pre-commit-config.yaml:

ci:
  autoupdate_schedule: "monthly"

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks.git
  rev: v5.0.0
  hooks:
    - id: check-merge-conflict
    - id: trailing-whitespace
    - id: end-of-file-fixer
- repo: https://github.com/python-jsonschema/check-jsonschema
  rev: 0.33.0
  hooks:
    - id: check-github-workflows
    - id: check-dependabot
- repo: https://github.com/asottile/pyupgrade
  rev: v3.19.1
  hooks:
    - id: pyupgrade
      args: ["--py38-plus"]
- repo: https://github.com/psf/black-pre-commit-mirror
  rev: 25.1.0
  hooks:
    - id: black
- repo: https://github.com/pycqa/flake8
  rev: 7.2.0
  hooks:
    - id: flake8
      additional_dependencies:
        - 'flake8-bugbear==24.12.12'
        - 'flake8-comprehensions==3.16.0'
        - 'flake8-typing-as-t==1.0.0'
- repo: https://github.com/PyCQA/isort
  rev: 6.0.1
  hooks:
    - id: isort
- repo: https://github.com/sirosen/slyp
  rev: 0.8.2
  hooks:
    - id: slyp
- repo: https://github.com/sirosen/texthooks
  rev: 0.6.8
  hooks:
    - id: alphabetize-codeowners
- repo: https://github.com/pypa/dependency-groups
  rev: 1.3.1
  hooks:
    - id: lint-dependency-groups
- repo: https://github.com/codespell-project/codespell
  rev: v2.4.1
  hooks:
    - id: codespell
- repo: local
  hooks:
    - id: fix-changelog
      name: "Fix changelog"
      entry: ./changelog.d/post-fix-changelog.py
      language: python
      files: ^changelog\.adoc$
    - id: reject-paginator-table-usage
      name: "Require use of 'Paginator.wrap()' not 'client.paginated.foo'"
      types: [python]
      language: pygrep
      # look for either
      #     x = client.paginated.foo(...)
      # or
      #     x = (
      #         client
      #         .paginated
      #         .foo(...)
      #     )
      entry: '(\.paginated\.)|(^\s+\.paginated$)'

Added globus flows registered-api show command (#1257)
  changelog.d/20260507_153740_8730430+m1yag1_sc_49699_add_gra_show_command.md
  pyproject.toml
  src/globus_cli/commands/flows/__init__.py
  src/globus_cli/commands/flows/_fields.py
  src/globus_cli/commands/flows/registered_api/__init__.py
  src/globus_cli/commands/flows/registered_api/show.py
  tests/functional/flows/conftest.py
  tests/functional/flows/test_show_registered_api.py
Due: reject-paginator-table-usage

Add list command for registered APIs
  changelog.d/20260512_133746_8730430+m1yag1_sc_49700_add_list_gras.md
  src/globus_cli/commands/flows/registered_api/__init__.py
  src/globus_cli/commands/flows/registered_api/list.py
  tests/functional/flows/conftest.py
  tests/functional/flows/test_list_registered_apis.py
Due: reject-paginator-table-usage

Remove support for Python 3.9 (fix testing of 3.14)
  .github/workflows/test.yaml
  changelog.d/20260526_152541_sirosen_update_supported_pythons.md
  pyproject.toml
  tox.ini
Due: none

Support click v8.4
  pyproject.toml
  src/globus_cli/commands/api.py
  src/globus_cli/commands/endpoint/set_subscription_id.py
  src/globus_cli/commands/flows/_common.py
  src/globus_cli/commands/gcp/set_subscription_id.py
  src/globus_cli/commands/gcs/endpoint/set_subscription_id.py
  src/globus_cli/commands/gcs/endpoint/update.py
  src/globus_cli/commands/group/_common.py
  src/globus_cli/commands/login.py
  src/globus_cli/parsing/param_types/delimited.py
  src/globus_cli/parsing/param_types/endpoint_plus_path.py
  src/globus_cli/parsing/param_types/guest_activity_notify_param.py
  src/globus_cli/parsing/param_types/identity_type.py
  src/globus_cli/parsing/param_types/json_strorfile.py
  src/globus_cli/parsing/param_types/location.py
  src/globus_cli/parsing/param_types/notify_param.py
  src/globus_cli/parsing/param_types/nullable.py
  src/globus_cli/parsing/param_types/omittable.py
  src/globus_cli/parsing/param_types/task_path.py
  src/globus_cli/parsing/param_types/timedelta.py
Due: reject-paginator-table-usage

Update lower bound on 'click' to v8.4
  pyproject.toml
Due: none

Simplify ParamType inheritance for click 8.4+
  src/globus_cli/commands/api.py
  src/globus_cli/commands/endpoint/set_subscription_id.py
  src/globus_cli/commands/flows/_common.py
  src/globus_cli/commands/gcp/set_subscription_id.py
  src/globus_cli/commands/gcs/endpoint/set_subscription_id.py
  src/globus_cli/commands/gcs/endpoint/update.py
  src/globus_cli/commands/group/_common.py
  src/globus_cli/commands/login.py
  src/globus_cli/parsing/param_types/delimited.py
  src/globus_cli/parsing/param_types/endpoint_plus_path.py
  src/globus_cli/parsing/param_types/guest_activity_notify_param.py
  src/globus_cli/parsing/param_types/identity_type.py
  src/globus_cli/parsing/param_types/json_strorfile.py
  src/globus_cli/parsing/param_types/location.py
  src/globus_cli/parsing/param_types/notify_param.py
  src/globus_cli/parsing/param_types/nullable.py
  src/globus_cli/parsing/param_types/omittable.py
  src/globus_cli/parsing/param_types/task_path.py
  src/globus_cli/parsing/param_types/timedelta.py
Due: reject-paginator-table-usage

Remove the '_click_compat' module and all usage
  src/globus_cli/_click_compat.py
  src/globus_cli/commands/api.py
  src/globus_cli/commands/flows/start.py
  src/globus_cli/commands/gcs/endpoint/update.py
  src/globus_cli/commands/login.py
  src/globus_cli/parsing/commands.py
  src/globus_cli/parsing/param_types/delimited.py
  src/globus_cli/parsing/param_types/endpoint_plus_path.py
  src/globus_cli/parsing/param_types/guest_activity_notify_param.py
  src/globus_cli/parsing/param_types/identity_type.py
  src/globus_cli/parsing/param_types/json_strorfile.py
  src/globus_cli/parsing/param_types/notify_param.py
  src/globus_cli/parsing/param_types/nullable.py
  src/globus_cli/parsing/param_types/omittable.py
  tests/conftest.py
Due: reject-paginator-table-usage

Remove version-dispatched `click` handling
  src/globus_cli/commands/collection/list.py
Due: reject-paginator-table-usage

Fix any 'convert()' definitions which check `None`
  src/globus_cli/commands/api.py
  src/globus_cli/commands/collection/list.py
Due: reject-paginator-table-usage

Refine `click.UUID` usage
  src/globus_cli/parsing/param_types/endpoint_plus_path.py
Due: reject-paginator-table-usage

Improve the helptext for 'globus api gcs'
  src/globus_cli/commands/api.py
Due: reject-paginator-table-usage

Update globus-sdk to v4.8.0
  pyproject.toml
Due: none

Bump version and changelog for release
  changelog.adoc
  changelog.d/20251205_152802_aaschaer_domain.md
  changelog.d/20260212_141047_john.md
  changelog.d/20260217_134541_aaschaer_transfer_api_v2.md
  changelog.d/20260220_181030_sirosen_folded_table.md
  changelog.d/20260226_121052_sirosen_group_subscription_id.md
  changelog.d/20260507_153740_8730430+m1yag1_sc_49699_add_gra_show_command.md
  changelog.d/20260512_133746_8730430+m1yag1_sc_49700_add_list_gras.md
  changelog.d/20260526_152541_sirosen_update_supported_pythons.md
  src/globus_cli/version.py
Due: fix-changelog, reject-paginator-table-usage

Support explicit GLOBUS_CLI_FOLD_TABLES=1
  changelog.d/20260611_125949_sirosen_fix_handling_of_truthy_fold_tables.md
  src/globus_cli/termio/_display.py
  src/globus_cli/termio/context.py
  src/globus_cli/termio/printers/folded_table_printer.py
  tests/unit/termio/printer/test_folded_table_printer.py
Due: reject-paginator-table-usage

Apply suggestions from code review
  changelog.d/20260611_125949_sirosen_fix_handling_of_truthy_fold_tables.md
  src/globus_cli/termio/context.py
Due: reject-paginator-table-usage

Make table headers in folded tables bold
  src/globus_cli/termio/printers/folded_table_printer.py
Due: reject-paginator-table-usage

Update src/globus_cli/termio/printers/folded_table_printer.py
  src/globus_cli/termio/printers/folded_table_printer.py
Due: reject-paginator-table-usage

Add changelog and test for bold table headers
  changelog.d/20260616_141229_sirosen_bold_table_headers.md
  tests/unit/termio/printer/test_folded_table_printer.py
Due: reject-paginator-table-usage

Update the lower-bound for 'requests'
  pyproject.toml
Due: none

Add a check which tests test-mindeps bounds
  .github/workflows/test.yaml
  scripts/ensure_mindeps_match_lower_bounds.py
  tox.ini
Due: reject-paginator-table-usage

Fix declaration of omittable types for new mypy
  src/globus_cli/commands/flows/_common.py
  src/globus_cli/parsing/param_types/delimited.py
  src/globus_cli/parsing/param_types/omittable.py
Due: reject-paginator-table-usage

Fix a bug in 'get-identities' text output
  changelog.d/20260706_105725_sirosen_fix_get_identities_case_sensitivity.md
  src/globus_cli/commands/get_identities.py
  tests/functional/test_get_identities.py
Due: reject-paginator-table-usage

Add `globus flows web-input` subcommands to interact with Web Inputs
  changelog.d/20260804_124626_kurtmckee_web_inputs_sc_50209.md
  pyproject.toml
  src/globus_cli/commands/flows/__init__.py
  src/globus_cli/commands/flows/_fields.py
  src/globus_cli/commands/flows/web_input/__init__.py
  src/globus_cli/commands/flows/web_input/list.py
  src/globus_cli/commands/flows/web_input/respond.py
  src/globus_cli/commands/flows/web_input/show.py
  src/globus_cli/parsing/__init__.py
  src/globus_cli/parsing/shared_options/id_args.py
  tests/files/flows/respond-to-web-input-file.json
  tests/functional/flows/conftest.py
  tests/functional/flows/test_list_web_inputs.py
  tests/functional/flows/test_respond_web_input.py
  tests/functional/flows/test_show_web_input.py
Due: reject-paginator-table-usage

Alternate rendering style for web-input-show
  src/globus_cli/commands/flows/_fields.py
  src/globus_cli/commands/flows/web_input/show.py
Due: reject-paginator-table-usage

Feedback: Remove table usage in `globus flows web-input show`
  src/globus_cli/commands/flows/_fields.py
  src/globus_cli/commands/flows/web_input/show.py
  src/globus_cli/termio/field.py
  src/globus_cli/termio/printers/record_printer.py
  tests/functional/flows/test_show_web_input.py
Due: reject-paginator-table-usage

Feedback: Remove the `globus flows web-input respond --file` option
  src/globus_cli/commands/flows/web_input/respond.py
  tests/functional/flows/test_respond_web_input.py
Due: reject-paginator-table-usage

Bump version and changelog for release
  changelog.adoc
  changelog.d/20260611_125949_sirosen_fix_handling_of_truthy_fold_tables.md
  changelog.d/20260616_141229_sirosen_bold_table_headers.md
  changelog.d/20260706_105725_sirosen_fix_get_identities_case_sensitivity.md
  changelog.d/20260804_124626_kurtmckee_web_inputs_sc_50209.md
  src/globus_cli/version.py
Due: fix-changelog, reject-paginator-table-usage

Release v3.43.0 (#1282)
  changelog.adoc
  changelog.d/20260611_125949_sirosen_fix_handling_of_truthy_fold_tables.md
  changelog.d/20260616_141229_sirosen_bold_table_headers.md
  changelog.d/20260706_105725_sirosen_fix_get_identities_case_sensitivity.md
  changelog.d/20260804_124626_kurtmckee_web_inputs_sc_50209.md
  src/globus_cli/version.py
Due: fix-changelog, reject-paginator-table-usage

Update GitHub Actions versions
  .github/workflows/docs.yaml
  .github/workflows/has_changelog.yaml
  .github/workflows/publish_to_pypi.yaml
  .github/workflows/publish_to_test_pypi.yaml
Due: none

Update GitHub Actions versions (#1283)
  .github/workflows/docs.yaml
  .github/workflows/has_changelog.yaml
  .github/workflows/publish_to_pypi.yaml
  .github/workflows/publish_to_test_pypi.yaml
Due: none

Update bash and zsh CLI completion scripts
  src/globus_cli/parsing/shell_completion.py
Due: reject-paginator-table-usage

Add a Fish CLI completion script
  src/globus_cli/parsing/shell_completion.py
Due: reject-paginator-table-usage

Add a note to update CLI completions when updating click
  pyproject.toml
  src/globus_cli/parsing/shell_completion.py
Due: reject-paginator-table-usage

Add a changelog fragment
  changelog.d/20260903_072511_kurtmckee_fish_completer.md
Due: none

Feedback: Add more instructions in `pyproject.toml`
  pyproject.toml
  src/globus_cli/parsing/shell_completion.py
Due: reject-paginator-table-usage

Make CLI completion generation dynamic, not hard-coded
  pyproject.toml
  src/globus_cli/parsing/shell_completion.py
Due: reject-paginator-table-usage
