Repository globus/globus-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-changelog, reject-paginator-table-usage

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks.git
  rev: v4.4.0
  hooks:
    - id: check-merge-conflict
    - id: trailing-whitespace
    - id: end-of-file-fixer
- repo: https://github.com/python-jsonschema/check-jsonschema
  rev: 0.23.3
  hooks:
    - id: check-github-workflows
    - id: check-dependabot
- repo: https://github.com/psf/black
  rev: 23.7.0
  hooks:
    - id: black
- repo: https://github.com/pycqa/flake8
  rev: 6.0.0
  hooks:
    - id: flake8
      additional_dependencies:
        - 'flake8-bugbear==22.10.27'
        - 'flake8-typing-as-t==0.0.3'
- repo: https://github.com/PyCQA/isort
  rev: 5.12.0
  hooks:
    - id: isort
- repo: https://github.com/asottile/pyupgrade
  rev: v3.9.0
  hooks:
    - id: pyupgrade
      args: ["--py36-plus"]
- repo: https://github.com/codespell-project/codespell
  rev: v2.2.5
  hooks:
    - id: codespell
- repo: local
  hooks:
    - id: fix-changelog
      name: "Fix changelog"
      entry: ./changelog.d/post-fix-changelog.py
      language: python
      files: ^changelog\.adoc$
    - id: reject-paginator-table-usage
      name: "Require use of 'Paginator.wrap()' not 'client.paginated.foo'"
      types: [python]
      language: pygrep
      # look for either
      #     x = client.paginated.foo(...)
      # or
      #     x = (
      #         client
      #         .paginated
      #         .foo(...)
      #     )
      entry: '(\.paginated\.)|(^\s+\.paginated$)'

Convert to ConnectorTable for resolution
  changelog.d/20240729_134844_sirosen_use_sdk_connector_table.md
  src/globus_cli/services/gcs.py
  tests/unit/formatters/test_connector_formatter.py
Due: reject-paginator-table-usage

Update changelog.d/20240729_134844_sirosen_use_sdk_connector_table.md
  changelog.d/20240729_134844_sirosen_use_sdk_connector_table.md
Due: none

Added --delete flag to timer create transfer
  changelog.d/20240801_163618_derek_timer_transfer_delete.md
  src/globus_cli/commands/timer/create/transfer.py
  tests/functional/timer/test_transfer_create.py
Due: reject-paginator-table-usage

Update transfer --delete helptext
  src/globus_cli/commands/timer/create/transfer.py
  src/globus_cli/commands/transfer.py
Due: reject-paginator-table-usage

Bump version and changelog for release
  changelog.adoc
  changelog.d/20240729_134844_sirosen_use_sdk_connector_table.md
  changelog.d/20240801_163618_derek_timer_transfer_delete.md
  src/globus_cli/version.py
Due: fix-changelog, reject-paginator-table-usage

Fix search index delete to use index_id_arg
  changelog.d/20240815_115113_sirosen_fix_index_id_arg.md
  src/globus_cli/commands/search/index/delete.py
  tests/functional/search/test_index.py
Due: reject-paginator-table-usage

Stop deleting the templated client on logout
  changelog.d/20240808_154611_ada_sc_35143.md
  src/globus_cli/commands/logout.py
  tests/files/api_fixtures/logout.yaml
  tests/functional/test_login_command.py
  tests/functional/test_logout_command.py
Due: reject-paginator-table-usage

Bump version and changelog for release
  changelog.adoc
  changelog.d/20240808_154611_ada_sc_35143.md
  changelog.d/20240815_115113_sirosen_fix_index_id_arg.md
  src/globus_cli/version.py
Due: fix-changelog, reject-paginator-table-usage

Remove more activation support code
  changelog.d/20240828_101834_sirosen_activation2stub.md
  src/globus_cli/commands/endpoint/activate.py
  src/globus_cli/commands/endpoint/deactivate.py
  src/globus_cli/commands/endpoint/is_activated.py
  src/globus_cli/commands/endpoint/show.py
  src/globus_cli/commands/list_commands.py
  src/globus_cli/parsing/shared_options/__init__.py
  src/globus_cli/services/transfer/__init__.py
  src/globus_cli/services/transfer/activation.py
  tests/files/api_fixtures/transfer_activate_success.yaml
  tests/functional/endpoint/test_endpoint_activate.py
  tests/functional/endpoint/test_endpoint_create.py
  tests/functional/endpoint/test_is_activated.py
  tests/functional/exception_handling/test_session_hooks.py
  tests/functional/task/test_task_submit.py
  tests/functional/test_basics.py
  tests/functional/test_ls.py
  tests/functional/test_mkdir.py
  tests/functional/test_rename.py
  tests/functional/test_rm.py
  tests/functional/timer/test_transfer_create.py
Due: reject-paginator-table-usage

Apply suggestions from code review
  changelog.d/20240828_101834_sirosen_activation2stub.md
  src/globus_cli/commands/endpoint/deactivate.py
  src/globus_cli/commands/list_commands.py
Due: reject-paginator-table-usage

Fix use of 'TimerScopes'
  src/globus_cli/login_manager/manager.py
  src/globus_cli/login_manager/scopes.py
  tests/conftest.py
Due: reject-paginator-table-usage

Pacify mypy with TimerScopes rename
  src/globus_cli/login_manager/manager.py
  src/globus_cli/login_manager/scopes.py
Due: reject-paginator-table-usage

Update TimersScopes imports (pass mypy)
  src/globus_cli/login_manager/manager.py
  src/globus_cli/login_manager/scopes.py
Due: reject-paginator-table-usage

Replaced --delete with --delete-destination-extra
  changelog.d/20241015_111820_max.tuecke_sc_35029_deprecate_delete_flag.md
  src/globus_cli/commands/timer/create/transfer.py
  src/globus_cli/commands/transfer.py
  tests/functional/test_basics.py
  tests/functional/timer/test_transfer_create.py
Due: reject-paginator-table-usage

globus group update --terms-and-conditions
  changelog.d/20241015_133817_derek_groups_update_terms_and_conditions.md
  src/globus_cli/commands/group/_common.py
  src/globus_cli/commands/group/update.py
  tests/files/api_fixtures/groups.yaml
  tests/functional/groups/test_group_update.py
Due: reject-paginator-table-usage

fix: spelling mistake
  changelog.d/20241015_111820_max.tuecke_sc_35029_deprecate_delete_flag.md
  tests/functional/test_basics.py
  tests/functional/timer/test_transfer_create.py
Due: reject-paginator-table-usage

fix: deprecation warning format
  src/globus_cli/commands/timer/create/transfer.py
  src/globus_cli/commands/transfer.py
Due: reject-paginator-table-usage

fix: changelog formatting
  changelog.d/20241015_111820_max.tuecke_sc_35029_deprecate_delete_flag.md
Due: none

Bump version and changelog for release
  changelog.adoc
  changelog.d/20240828_101834_sirosen_activation2stub.md
  changelog.d/20240917_160258_kurtmckee_fix_collection_update_help_text.md
  changelog.d/20241015_133817_derek_groups_update_terms_and_conditions.md
  src/globus_cli/version.py
Due: fix-changelog, reject-paginator-table-usage

Add step to send notice by email to release doc
  RELEASING.adoc
Due: none

Apply suggestions from code review
  RELEASING.adoc
Due: none

Fix messages with `--no-recursive`
  src/globus_cli/commands/timer/create/transfer.py
  tests/functional/timer/test_transfer_create.py
Due: reject-paginator-table-usage

More consistently use backticks in errors
  src/globus_cli/commands/timer/create/transfer.py
  src/globus_cli/commands/transfer.py
  tests/functional/task/test_task_submit.py
  tests/functional/test_basics.py
  tests/functional/timer/test_transfer_create.py
Due: reject-paginator-table-usage

Minor changelog copyedit fixes
  changelog.d/20241015_111820_max.tuecke_sc_35029_deprecate_delete_flag.md
Due: none

Updated transfer usage error checks for --recursive flag
  src/globus_cli/commands/timer/create/transfer.py
  src/globus_cli/commands/transfer.py
  tests/functional/test_basics.py
Due: reject-paginator-table-usage

changelog
  changelog.d/20241017_122919_max.tuecke_sc_35029_transfer_usage_error.md
Due: none

fix: review suggestions
  src/globus_cli/commands/timer/create/transfer.py
  tests/functional/test_basics.py
Due: reject-paginator-table-usage

Update to be compatible with SDK 3.46+
  src/globus_cli/commands/endpoint/user_credential/create/s3.py
  src/globus_cli/commands/flows/run/resume.py
  src/globus_cli/commands/timer/resume.py
  src/globus_cli/login_manager/manager.py
  src/globus_cli/services/transfer/client.py
  tests/conftest.py
  tests/functional/groups/test_group_set_policies.py
Due: reject-paginator-table-usage

Fix minor TODOs
  src/globus_cli/exception_handling/hooks.py
  tests/conftest.py
Due: reject-paginator-table-usage

removed old automate transfer scope
  src/globus_cli/commands/timer/create/transfer.py
  src/globus_cli/login_manager/scopes.py
  tests/functional/timer/test_transfer_create.py
  tests/unit/test_login_manager.py
Due: reject-paginator-table-usage

changelog
  changelog.d/20241105_161119_max.tuecke_sc_35400_timers_scope_update.md
Due: none

update changelog
  changelog.d/20241105_161119_max.tuecke_sc_35400_timers_scope_update.md
Due: none

Updated contributing doc
  CONTRIBUTING.adoc
  Makefile
  changelog.d/20241107_174803_derek_improve_contributing_doc.md
Due: none

add size and checksum fields to task show --successful-transfers
  src/globus_cli/commands/task/show.py
Due: reject-paginator-table-usage

Changelog fragment
  changelog.d/20241108_100250_derek_sc_27244_checksum_and_size_successful_transfer_fields.md
Due: none

qualify changelog
  changelog.d/20241108_100250_derek_sc_27244_checksum_and_size_successful_transfer_fields.md
Due: none

fix: changelog
  changelog.d/20241105_161119_max.tuecke_sc_35400_timers_scope_update.md
Due: none

add access permission expiration support
  changelog.d/20241220_115422_aaschaer_permission_expiration.md
  src/globus_cli/commands/endpoint/permission/_common.py
  src/globus_cli/commands/endpoint/permission/create.py
  src/globus_cli/commands/endpoint/permission/show.py
  src/globus_cli/commands/endpoint/permission/update.py
  src/globus_cli/termio/formatters/auth.py
  tests/files/api_fixtures/endpoint_acl_operations.yaml
  tests/functional/test_permission_commands.py
Due: reject-paginator-table-usage
