Repository globus/globus-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-changelog, reject-paginator-table-usage

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks.git
  rev: v4.4.0
  hooks:
    - id: check-merge-conflict
    - id: trailing-whitespace
    - id: end-of-file-fixer
- repo: https://github.com/python-jsonschema/check-jsonschema
  rev: 0.23.3
  hooks:
    - id: check-github-workflows
    - id: check-dependabot
- repo: https://github.com/psf/black
  rev: 23.7.0
  hooks:
    - id: black
- repo: https://github.com/pycqa/flake8
  rev: 6.0.0
  hooks:
    - id: flake8
      additional_dependencies:
        - 'flake8-bugbear==22.10.27'
        - 'flake8-typing-as-t==0.0.3'
- repo: https://github.com/PyCQA/isort
  rev: 5.12.0
  hooks:
    - id: isort
- repo: https://github.com/asottile/pyupgrade
  rev: v3.9.0
  hooks:
    - id: pyupgrade
      args: ["--py36-plus"]
- repo: https://github.com/codespell-project/codespell
  rev: v2.2.5
  hooks:
    - id: codespell
- repo: local
  hooks:
    - id: fix-changelog
      name: "Fix changelog"
      entry: ./changelog.d/post-fix-changelog.py
      language: python
      files: ^changelog\.adoc$
    - id: reject-paginator-table-usage
      name: "Require use of 'Paginator.wrap()' not 'client.paginated.foo'"
      types: [python]
      language: pygrep
      # look for either
      #     x = client.paginated.foo(...)
      # or
      #     x = (
      #         client
      #         .paginated
      #         .foo(...)
      #     )
      entry: '(\.paginated\.)|(^\s+\.paginated$)'

Update to a few documentation wording instances
  changelog.adoc
  src/globus_cli/commands/endpoint/user_credential/list.py
Due: fix-changelog, reject-paginator-table-usage

globus gcs endpoint set-subscription-id
  src/globus_cli/commands/gcp/__init__.py
  src/globus_cli/commands/gcs/__init__.py
  src/globus_cli/commands/gcs/endpoint/__init__.py
  src/globus_cli/commands/gcs/endpoint/set_subscription_id.py
  tests/functional/gcs/__init__.py
  tests/functional/gcs/endpoint/__init__.py
  tests/functional/gcs/endpoint/test_set_subscription_id.py
Due: reject-paginator-table-usage

Scriv
  changelog.d/20231215_140223_derek_gcs_subscription_id_sc_28587.md
Due: none

Update changelog.d/20231215_140223_derek_gcs_subscription_id_sc_28587.md
  changelog.d/20231215_140223_derek_gcs_subscription_id_sc_28587.md
Due: none

PR comments:
  src/globus_cli/commands/gcs/endpoint/set_subscription_id.py
Due: reject-paginator-table-usage

Wording Update
  src/globus_cli/commands/gcs/endpoint/set_subscription_id.py
Due: reject-paginator-table-usage

Dedicated globus gcp set-subscription-id implementation
  src/globus_cli/commands/endpoint/set_subscription_id.py
  src/globus_cli/commands/gcp/__init__.py
  src/globus_cli/commands/gcp/set_subscription_id.py
  src/globus_cli/commands/gcs/endpoint/set_subscription_id.py
Due: reject-paginator-table-usage

Update src/globus_cli/commands/gcp/set_subscription_id.py
  src/globus_cli/commands/gcp/set_subscription_id.py
Due: reject-paginator-table-usage

Minor wording update
  src/globus_cli/commands/endpoint/set_subscription_id.py
Due: reject-paginator-table-usage

Fix endpoint permission create principal flag value bug
  changelog.d/20240125_145727_derek_endpoint_permission_create_bug_zd_381646.md
  src/globus_cli/parsing/shared_options/__init__.py
  tests/files/api_fixtures/endpoint_operations.yaml
  tests/functional/endpoint/permission/test_endpoint_permission_create.py
Due: reject-paginator-table-usage

Fix incorrect parameter value specified in changelog
  changelog.adoc
Due: fix-changelog

Update changelog.adoc
  changelog.adoc
Due: fix-changelog

update skip-source-errors helptext
  src/globus_cli/parsing/shared_options/transfer_task_options.py
Due: reject-paginator-table-usage

Added globus gcs endpoint role commands
  changelog.d/20240206_161457_derek_gcs_endpoint_role_sc_28588.md
  src/globus_cli/commands/gcs/endpoint/__init__.py
  src/globus_cli/commands/gcs/endpoint/role/__init__.py
  src/globus_cli/commands/gcs/endpoint/role/_common.py
  src/globus_cli/commands/gcs/endpoint/role/create.py
  src/globus_cli/commands/gcs/endpoint/role/delete.py
  src/globus_cli/commands/gcs/endpoint/role/list.py
  src/globus_cli/commands/gcs/endpoint/role/show.py
  src/globus_cli/commands/search/index/role/create.py
  src/globus_cli/utils.py
  tests/files/api_fixtures/endpoint_role_operations.yaml
  tests/functional/flows/__init__.py
  tests/functional/flows/test_update_flow.py
  tests/functional/gcs/__init__.py
  tests/functional/gcs/endpoint/__init__.py
  tests/functional/gcs/endpoint/test_role.py
  tests/functional/search/test_index_role.py
  tests/unit/test_utils.py
Due: reject-paginator-table-usage

Stephen helped me with my imports
  src/globus_cli/commands/gcs/endpoint/role/_common.py
  src/globus_cli/commands/gcs/endpoint/role/create.py
  src/globus_cli/utils.py
Due: reject-paginator-table-usage

Documentation clarification
  src/globus_cli/utils.py
Due: reject-paginator-table-usage

Updating wording & jsonconversion style
  src/globus_cli/commands/gcs/endpoint/role/create.py
  src/globus_cli/commands/gcs/endpoint/role/delete.py
  src/globus_cli/commands/gcs/endpoint/role/list.py
  src/globus_cli/commands/gcs/endpoint/role/show.py
  src/globus_cli/utils.py
  tests/functional/search/test_index_role.py
  tests/unit/test_utils.py
Due: reject-paginator-table-usage

Update src/globus_cli/commands/gcs/endpoint/role/create.py
  src/globus_cli/commands/gcs/endpoint/role/create.py
Due: reject-paginator-table-usage

Add setup/act/verify comments to unit test
  tests/unit/test_utils.py
Due: reject-paginator-table-usage

Update unit tests to use try/except/catch
  tests/unit/test_utils.py
Due: reject-paginator-table-usage

Added globus gcs endpoint show and update
  Makefile
  changelog.d/20240216_122016_derek_gcs_endpoint_update_sc_28586.md
  pyproject.toml
  src/globus_cli/commands/gcs/endpoint/__init__.py
  src/globus_cli/commands/gcs/endpoint/_common.py
  src/globus_cli/commands/gcs/endpoint/set_subscription_id.py
  src/globus_cli/commands/gcs/endpoint/show.py
  src/globus_cli/commands/gcs/endpoint/update.py
  src/globus_cli/parsing/param_types/nullable.py
  src/globus_cli/termio/formatters/primitive.py
  tests/files/api_fixtures/endpoint_introspect.yaml
  tests/files/api_fixtures/gcs_endpoint_operations.yaml
  tests/functional/gcs/__init__.py
  tests/functional/gcs/endpoint/__init__.py
  tests/functional/gcs/endpoint/test_show.py
  tests/functional/gcs/endpoint/test_update.py
Due: reject-paginator-table-usage

PR Comment Resolution
  changelog.d/20240216_122016_derek_gcs_endpoint_update_sc_28586.md
  src/globus_cli/commands/gcs/endpoint/_common.py
  src/globus_cli/commands/gcs/endpoint/set_subscription_id.py
  src/globus_cli/commands/gcs/endpoint/update.py
  src/globus_cli/termio/formatters/primitive.py
Due: reject-paginator-table-usage

I choose Kurt's!
  src/globus_cli/commands/gcs/endpoint/set_subscription_id.py
  src/globus_cli/commands/gcs/endpoint/show.py
  src/globus_cli/commands/gcs/endpoint/update.py
Due: reject-paginator-table-usage

Custom network use formatting
  src/globus_cli/commands/gcs/endpoint/_common.py
  src/globus_cli/commands/gcs/endpoint/update.py
  tests/functional/gcs/endpoint/test_show.py
Due: reject-paginator-table-usage

Drop GCSv4 autoactivation from timer create
  src/globus_cli/commands/timer/create/transfer.py
Due: reject-paginator-table-usage

Allow timer creation using client credentials
  src/globus_cli/commands/timer/create/transfer.py
  tests/functional/timer/test_transfer_create.py
Due: reject-paginator-table-usage

Add changelog fragment
  changelog.d/20240229_094608_ada_support_client_creds_in_timer_create.md
Due: none

Add mock consent tree to client creds test
  tests/functional/timer/test_transfer_create.py
Due: reject-paginator-table-usage

add stat command
  changelog.d/20240304_132149_aaschaer.md
  src/globus_cli/commands/__init__.py
  src/globus_cli/commands/stat.py
  tests/functional/test_stat.py
Due: reject-paginator-table-usage

add additional error handling tests
  tests/functional/test_stat.py
Due: reject-paginator-table-usage

fix stat type hints
  src/globus_cli/commands/stat.py
Due: reject-paginator-table-usage

require sdk v3.39.0
  pyproject.toml
Due: none

fix stat text_mode
  src/globus_cli/commands/stat.py
Due: reject-paginator-table-usage

Fixed timer creation no-end rendering
  changelog.d/20240513_143239_derek_timer_schedule_null_check.md
  src/globus_cli/commands/timer/_common.py
  tests/functional/timer/test_transfer_create.py
Due: reject-paginator-table-usage

Paginate `collection list` command
  src/globus_cli/commands/collection/list.py
  tests/functional/collection/test_collection_list.py
Due: reject-paginator-table-usage

Add changelog fragment
  changelog.d/20240703_105235_ada_paginate_collection_list_command.md
Due: none

Add a test case to exercise pagination
  tests/files/api_fixtures/collection_operations.yaml
  tests/functional/collection/test_collection_list.py
Due: reject-paginator-table-usage
