Repository globus/globus-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-changelog, reject-paginator-table-usage

fix-changelog:
  name: Fix changelog
  entry: ./changelog.d/post-fix-changelog.py
  language: python

reject-paginator-table-usage:
  name: Require use of 'Paginator.wrap()' not 'client.paginated.foo'
  language: pygrep
  entry: (\.paginated\.)|(^\s+\.paginated$)

Added changelog fragment
  changelog.d/20250411_105010_8730430+m1yag1.md
Due: none

Added run_managers_option and run_monitors_option to flow create
  src/globus_cli/commands/flows/create.py
Due: reject-paginator-table-usage

Added run_managers and run_monitors to flows show command
  src/globus_cli/commands/flows/show.py
Due: reject-paginator-table-usage

Updated tests with run_managers and run_monitors
  tests/functional/flows/test_create_flow.py
  tests/functional/flows/test_show_flow.py
  tests/functional/flows/test_update_flow.py
Due: reject-paginator-table-usage

Added run_managers and run_monitors to flows update command
  src/globus_cli/commands/flows/update.py
Due: reject-paginator-table-usage

Fix ordering of task list date filters
  changelog.d/20250416_141934_sirosen_fix_task_date_filters.md
  src/globus_cli/commands/task/list.py
  tests/functional/task/test_task_list.py
Due: reject-paginator-table-usage

Update globus-sdk to v3.55.0
  pyproject.toml
Due: none

Implement flow start notification policy parsing
  changelog.d/20250417_235715_sirosen_add_flow_run_notify_policy.md
  src/globus_cli/commands/flows/start.py
  tests/functional/flows/test_start_flow.py
  tests/unit/param_types/test_run_flow_activity_notification_type.py
Due: reject-paginator-table-usage

Minor fixes for mypy
  src/globus_cli/commands/flows/start.py
Due: reject-paginator-table-usage

Bump version and changelog for release
  changelog.adoc
  changelog.d/20250410_141842_sirosen_rename_timers_api_command.md
  changelog.d/20250416_141934_sirosen_fix_task_date_filters.md
  src/globus_cli/version.py
Due: fix-changelog, reject-paginator-table-usage

Update changelog.adoc
  changelog.adoc
Due: fix-changelog

Apply suggestions from code review
  changelog.d/20250417_235715_sirosen_add_flow_run_notify_policy.md
  src/globus_cli/commands/flows/start.py
Due: reject-paginator-table-usage

Added run_managers and run_monitor options to flows common
  src/globus_cli/commands/flows/_common.py
Due: reject-paginator-table-usage

fixup: Update changelog
  changelog.d/20250411_105010_8730430+m1yag1.md
Due: none

fixup: move run_managers/monitors from common to inline
  src/globus_cli/commands/flows/_common.py
  src/globus_cli/commands/flows/create.py
Due: reject-paginator-table-usage

fixup: include note about multiple usages of option
  src/globus_cli/commands/flows/create.py
Due: reject-paginator-table-usage

Ignore the SDK 'filter_role' warning in tests
  pyproject.toml
Due: none

Update hook source to pypa/dependency-groups
  .pre-commit-config.yaml
Due: none

Updated list flows command to support multiple roles
  src/globus_cli/commands/flows/list.py
Due: reject-paginator-table-usage

Added tests for filter_role option in flows list and run list commands
  tests/files/api_fixtures/flows_list.yaml
  tests/functional/flows/test_list_flows.py
  tests/functional/flows/test_list_runs.py
Due: reject-paginator-table-usage

Added --filter_role option to flows run list command
  src/globus_cli/commands/flows/run/list.py
Due: reject-paginator-table-usage

fixup: Update globus-sdk from 3.55.0 to 3.56.0
  pyproject.toml
Due: none

added changelog fragment
  changelog.d/20250430_152200_8730430+m1yag1_sc_40419_filter_roles_list_flows_and_runs.md
Due: none

fixup: address PR comments
  changelog.d/20250430_152200_8730430+m1yag1_sc_40419_filter_roles_list_flows_and_runs.md
  src/globus_cli/commands/flows/list.py
  src/globus_cli/commands/flows/run/list.py
  tests/functional/flows/test_list_runs.py
Due: reject-paginator-table-usage

fixup: fix type ignore comment
  src/globus_cli/commands/flows/list.py
  src/globus_cli/commands/flows/run/list.py
Due: reject-paginator-table-usage

fixup: fix changelog
  changelog.d/20250430_152200_8730430+m1yag1_sc_40419_filter_roles_list_flows_and_runs.md
Due: none

fixup: Update changelog again :sweat_smile:
  changelog.d/20250430_152200_8730430+m1yag1_sc_40419_filter_roles_list_flows_and_runs.md
Due: none

Update license to SPDX license expression in pyproject.toml
  pyproject.toml
Due: none

mollify mypy for older Python versions
  src/globus_cli/commands/collection/create/guest.py
  src/globus_cli/commands/collection/update.py
  src/globus_cli/commands/gcp/create/guest.py
  src/globus_cli/commands/gcp/update/guest.py
  src/globus_cli/parsing/param_types/guest_activity_notify_param.py
Due: reject-paginator-table-usage

Path conditions:
  fix-changelog: any of: ^changelog\.adoc$
  reject-paginator-table-usage: any of: \.py$
